/***
*  Create by wengmaodong 2017/03/14 21:36
***/

.clearfix {
    zoom: 1;
}

.clearfix:after {
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}